.container {
  margin-bottom: 100px;
}
.orange-bg {
  background-color: #fceae8;
  border-radius: 10px;
}
.carousel-item {
  padding: 20px 40px;
}

.price {
  color: #ff136f;
}

.buy-now-button {
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 9px 25px;
  cursor: pointer;
}

.cat1, .cat2, .cat3 {
  padding: 10px 30px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.cat1{
  background-image: linear-gradient(to bottom, #ff589b 0%, #ff136f 100%);
}
.cat2 {
  background-image: linear-gradient(to bottom, #FF00FF 0%, #800080 100%);
}
.cat3 {
  background-image: linear-gradient(to bottom, #00FFFF 0%, #0000FF 100%);
}

.categories h1 {
  color: white;
}

.categories img {
  width: 100px;
}

.card {
  border: none;
  border-radius: 10px;
  box-shadow: 5px 6px 10px lightgray;
}

#Subscribe {
  height: 300px;
}

#Subscribe h6 {
  color: gray;
}

footer{
  text-align: center;
}